@import "./reset.css";
@import "./font.css";
@import "./variables.css";

body {
	background-color: #333;
	font-family: "Press Start 2P", Helvetica, sans-serif;
	font-size: 10px;
}

#root {
	display: flex;
}

.side-bar {
	height: 100vh;
	width: 33vw;
	background-color: hsl(0, 0%, 15%);
	color: white;

	display: flex;
	align-items: center;
}

.info {
	width: 100%;
}

main {
	width: 67vw;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-color: #e0ede8;
}

.actions {
	margin-top: 33px;
}

button {
	font-size: 10px;
	color: #333;
	font-family: "Press Start 2P", Helvetica, sans-serif;
	padding: 12px 16px;
	border-radius: 4px;
	border: 3px solid #333;
}

.pet {
	height: 300px;
	width: 300px;
	background-color: #b2b2b2;
}

.stat {
	margin-bottom: 15px;
}

.stat__title {
	margin-bottom: 4px;
}

.container {
	padding: 2px;
	height: 21px;
	border: 1px solid white;
}

.fill {
	height: 100%;
}

.fill--health {
	background-color: var(--hp-color);
}

.fill--hunger {
	background-color: var(--hungry-color);
}

.fill--happy {
	background-color: var(--happy-color);
}

.side-bar {
	padding: 15px 20px;
}

.btn--settings {
	display: block;
	margin: 110px auto 0;
}

.btn--back {
	display: block;
	margin: 10px auto 0;
}

.header {
	text-align: center;
	margin-bottom: 40px;
}

.header__name {
	font-size: 20px;
	margin-bottom: 8px;
	text-transform: uppercase;
}

.header__age {
	opacity: 0.4;
}

.settings {
	width: 100%;
	display: none;
}

.btn--reset {
	display: block;
	margin: 0 auto;
	margin-top: 110px;
	background-color: cornflowerblue;
	color: white;
}

.name-input {
	text-align: center;
}

input {
	border: none;
	padding: 10px 8px;
	border-radius: 4px;
}

.btn--clean {
	background-color: var(--hp-color);
}

.btn--feed {
	background-color: var(--hungry-color);
}

.btn--play {
	background-color: var(--happy-color);
}
